*{
    margin:0;
    padding: 0;
}
body{
    background-color: #EEE;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin:0 auto;
    padding:20px;
}

.profile-image{
    width: 100px;
    height: 120px;
    border:3px solid #EEE;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contct{
    float: right;
   
}
.header-contct a{
    text-decoration: none;
    color:teal;
    font-size: bold;
}

.header-contct a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
 hr{
    border:solid black 2px ;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
 }
 /*personal section*/
 #personal-section{

 }
 .content{

    margin: 30px;
 }
 .left-div{
    width: 40%;
    float: left;
 }
 .right-div{
     width: 60%;
     float: left;
 }
 .div-clr{
  
    border-bottom: none;
    width: 100%;
    margin:20px auto;
 }
.bottom{
    background-color: rgb(49, 49, 89);
    text-align: center;
    padding: 10px;

}
   

